<div>
    <div class="p-3">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                    <div class="fs-6 fw-bold">
                        Project List
                    </div>
                    <div *ngIf="userData?.group_id == 2">
                        <button mat-raised-button color="primary" (click)="addProjectList()">
                            Add Project
                        </button>
                    </div>
                </div>
                <div class="table-list" *ngIf="projectList.lenght > 0">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> Description </th>
                            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                        </ng-container>
                        <ng-container matColumnDef="created">
                            <th mat-header-cell *matHeaderCellDef> Created </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.created | date:'MMM d, y,h:mm:ss a'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="actions" *ngIf="userData?.group_id == 2">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button matTooltip="edit" *ngIf="userData?.group_id == 2"
                                    (click)="updateProjectList(element,element.id)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" *ngIf="userData?.group_id == 2" matTooltip="delete"
                                    (click)="deleteProjectList(element.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <div *ngIf="projectList.length == 0">
                    No project data found
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>